<launch>
<param name="PipePoseEstimationNode/minH" value="22"/>
<param name="PipePoseEstimationNode/minS" value="63"/>
<param name="PipePoseEstimationNode/minV" value="30"/>

<param name="PipePoseEstimationNode/maxH" value="35"/>
<param name="PipePoseEstimationNode/maxS" value="255"/>
<param name="PipePoseEstimationNode/maxV" value="255"/>
</launch>
